html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

#shop-image {
    position: relative;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    transition: background-image 1s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -ms-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    box-shadow: none;
    padding: 1.5rem 3rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

nav li {
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav li:hover {
    border-bottom: 1px solid #fff;
}

nav h1 {
    font-size: 2rem;
}


nav .name {
    display: flex;
}

nav img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

nav .name>h1 {
    font-size: 25px;
    font-family: "Satisfy", sans-serif;
    color: white;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0;
}

.content a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 0;
    font-weight: 600;
}

@media (min-width: 701px) {
    .dropbtn {
        display: none;
    }

}


.title {
    position: absolute;
    font-family: "Satisfy", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.displayAll {
    display: none;
}

#categories {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0;
}

#allProducts, #categories a {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    color: gray;
    padding: 10px;
    text-transform: capitalize;
    border: none;
    background-color: #f8f8f8;
}

#allProducts:hover, #categories a:hover {
    text-decoration: underline;
    color: #105be5db;
}

button {
    outline: none;
}

.categories {
    display: flex;
    gap: 2rem;
    font-size: 25px;
    align-items: center;
}

.container {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-info {
    background-color: white;
    margin: 0;
    margin-bottom: 1.2rem;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
    display: block;
    text-transform: capitalize;
    transition: transform 0.2s ease-in;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.product-info:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

#product-image {
    width: 70%;
    /* object-fit: cover; */
    height: 150px;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#load-more {
    margin-top: 20px;
    background-color: #105be5db;
    color: #f8f8f8;
    padding: 10px;
}

#load-more:hover {
    background-color: #0f3479db;
}

#product-title {
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#product-description {
    color: #413a3a;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-bottom: 2px;
}

#product-price {
    color: #105be5db;
    font-weight: bold;
    padding: 5px;
    line-height: 25px;
    font-size: 16px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#product-category {
    background-color: #105be5db;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 25px;
    border: 1px solid rgba(16, 91, 229, 0.86);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#product-rating {
    color: rgba(16, 91, 229, 0.86);
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid rgba(16, 91, 229, 0.86);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#categories {
    display: flex;
    gap: 1.5rem;
}

.menuBar.hidden {
    display: none;
}

#toggleMenuBar {
    display: none;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #105be5db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #categories {
        display: none;
    }


    .categories {
        display: flex;
    }

    .displayAll {
        display: block;
        color: #413a3a;
        font-size: 20px;
        text-decoration: none;
    }

    #toggleMenuBar {
        display: block;
    }
}


/* Footer styling */
footer {
    margin-top: 2rem;
    background-color: whitesmoke;
    font-size: 16px;
    color: black;
    padding: .7rem;
    width: 100%;
}

.footerText p {
    margin-top: 11px;
    color: gray;
    text-align: justify;
}

.footerflex {
    /* margin: auto; */
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4rem;
}

footer h2 {
    padding-bottom: .5rem;
    font-size: 18px;
    font-weight: 600;
    color: #413a3a;
}

.footerText a {
    text-decoration: none;
    color: gray;
}

#contact p:hover {
    color: #105be5db;
}

.footerText a:hover {
    color: #105be5db;
}


#last {
    border-top: 7px solid #f8f8f8;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}

@media (max-width:700px) {
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: .8rem 1.5rem;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: transparent;
        font-size: 25px;
    }

    .drop {
        position: relative;
        display: inline-block;
    }

    .content {
        display: none;
        position: absolute;
        right: 0;
        z-index: 5;
        min-width: 150px;
        background-color: #f2f5f7;
        color: #2E6FE7;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .content li {
        display: block;
        padding: 10px 12px;
    }

    .content li:hover {
        border-bottom: none;
    }

    .content a:hover {
        border-bottom: #2E6FE7 solid 2px;
    }

    .content a {
        color: #2E6FE7;
    }

    .drop:hover .content {
        display: block;
    }

    nav .name h1 {
        font-size: 24px;
        padding-top: 12px;
        padding-left: 9px;
    }

    nav img {
        width: 45px;
        height: 45px;
    }

    .title {
        left: 60%;
    }

    .product-info {
        margin: 1.2rem;
        padding: 1rem 3rem;
    }

    .footerflex {
        display: block;

    }

    .footerText {
        margin-bottom: 2rem;
    }
}