body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgba(16, 91, 229, 0.86);
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
}

#product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#load-more{
    margin-top: 20px;
}

.product-info{
    background-color: cornsilk;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px  rgba(0,0,0,0.2);
}
#categories{
    display: flex;
    gap: 1.5rem;
}
.menuBar.hidden{
display: none;
}  
#toggleMenuBar{
    display: none;
    background-color:rgba(16, 91, 229, 0.86);
    font-size: 30px;
    border: 1px solid rgba(16, 91, 229, 0.86);
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 600px){
    #categories{
        display: none;
    }
    #toggleMenuBar{
        display: block;
    }
}
/* STYLING DONE BY FAITH */
h2{
    color:rgba(16, 91, 229, 0.86);
}
.category {
    background-color: rgba(16, 91, 229, 0.86);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    color: #f8f8f8;

    
}

.category:hover {
    background-color: #e0e0e0;
    color: rgba(16, 91, 229, 0.86);
}

.allProduct a{
    text-decoration: none;
    margin: 8rem; 
    font-size: 18px;
    background-color: rgba(16, 91, 229, 0.86);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #f8f8f8;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;

} 

/* Footer styling */

.footer {
    background-color: rgba(16, 91, 229, 0.86);
    display: flex;
    justify-content: center;
    padding: 53px;
    color: #fff;
  }
  
  .footerText {
    margin-inline: 85px;
  }
  
  .footerText p {
    margin-top: 11px;
    color: beige;
    text-align: justify;
    line-height: 1.5;
  }
  
  
  footer {
    font-size: 0.95rem;
    background-color: rgba(16, 91, 229, 0.86);
    color: beige;
    padding: 2rem 0;
  }
  
  .footerflex {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  
  .footerText {
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  
  footer h2 {
    color: #fff;
    padding-bottom: .7rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  
  #last {
    border-top: 1px solid #777;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1rem;
    color: #fff;
  }
  
  @media (max-width:700px) {
    .footerflex {
      display: block;
    }

    .footerText p{
        max-width: 20rem;
    }
  }